

.fadeIn{

	-webkit-animation-duration:  4s;/*Se incluyen estas lineas para que funcione
	en cualquier navegador*/
	animation-duration:  4s;/*Duración de la animacion*/
	animation-fill-mode: both;/*Define que se cumplan los keyframes
	de ida y de regreso*/
	-webkit-animation-fill-mode: both;
	animation-name: fadeIn;/*Invocar el keyframe*/
	-webkit-animation-name: fadeIn;
}

@keyframes fadeIn{

	from{

		opacity: 0;/*Animacion opaciva desde cero*/

		}

	to{

		opacity: 1;/*Hasta opacidad 1*/
	}
}


.fadeInDown{

	-webkit-animation-duration:  1s;
	animation-duration:  1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;

}

@keyframes fadeInDown{

	from{

		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);/*Ayuda a animar 
		elementos de css,  el -100% hace que vaya de arriba hacia abajo*/
		transform: translate3d(0, -100%, 0);
		}

	to{

		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp{

	-webkit-animation-duration:  1s;
	animation-duration:  1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;

}

@keyframes fadeInUp{

	from{

		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);/*Ayuda a animar 
		elementos de css,  el -100% hace que vaya de arriba hacia abajo*/
		transform: translate3d(0, 100%, 0);
		}

	to{

		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);/*Ayuda a animar 
		elementos de css,  el 100% hace que vaya hacia 0*/
		transform: translate3d(0, 0, 0);
	}
}